<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MD_Facturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MD_Facturas.Properties.Settings.cnx" connectionString="Data Source=(Local);Initial Catalog=MODULO_FACT_GUA;Persist Security Info=True;User ID=SYSADM;Password=SYSADM" />
        <add name="MD_Facturas.Properties.Settings.MODULO_FACT_VECAConnectionString"
            connectionString="Data Source=(Local);Initial Catalog=MODULO_FACT_GUA;Persist Security Info=True;User ID=SYSADM;Password=SYSADM"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <userSettings>
    <MD_Facturas.Properties.Settings>
      <setting name="impuesto" serializeAs="String">
        <value>12</value>
      </setting>
    </MD_Facturas.Properties.Settings>
  </userSettings>
</configuration>